@charset "UTF-8";

/*Formatando Audio e Video*/
div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

/*Formatando Audio*/
audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 489px;
    width: 300px;
}

/*Formatando Video*/
video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 70px;
    width: 440px;
}